<a href="https://colab.research.google.com/github/rahmanrahma2222-lgtm/Advanced-Python/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
print("Hello World")

Hello World

In [20]:
print("hello","how are you")

hello how are you

In [21]:
print("hello","how are you?",sep=",")

hello,how are you?

In [22]:
print(f"My name is {NAME} and i am {20} years old")

NameError: name 'NAME' is not defined

In [ ]:
NAME="RAHMAN"
AGE="20"

In [ ]:
print(f"My name is {NAME} and i am {AGE} years old")

In [ ]:
name=input("enter your name: ")
adm_no=(input("enter your adm_no:"))
address=input("enter your address: ")
dob=(input("enter your dob: "))
phone=int(input("enter your phone: "))
email=input("enter your email: ")

In [ ]:
print(f"name: {name}")
print(f"adm_no: {adm_no}")
print(f"address: {address}")
print(f"dob: {dob}")
print(f"phone: {phone}")
print(f"email: {email}")

In [ ]:
first_name= "rahman"
last_name="rahu"
full_name =first_name+" "+last_name
print(full_name)

In [ ]:
news="Our blood not cheap’: Pakistani forces chase Baloch militants, 190 people killed; India refutes ‘involvement’ charge"
print(len(news))

In [ ]:
news[0]

In [ ]:
news[0:20]

In [ ]:
news[12:55]

In [ ]:
news.upper()

In [ ]:
news.capitalize()

In [ ]:
news.swapcase()

In [ ]:
news.isalnum()

In [ ]:
news.isalpha()

In [ ]:
news.encode()

In [ ]:
news.lower()

In [ ]:
news.strip()

In [ ]:
news.rsplit()

In [ ]:
news.split()

In [ ]:
news.title()

In [ ]:
num1 = 20
num2 = 6
print(num1+num2)

In [ ]:
num1-num2

In [ ]:
num1*num2

In [ ]:
num1//num2

In [ ]:
num1/num2

In [ ]:
num1>num2

In [23]:
num1<num2

NameError: name 'num1' is not defined

In [ ]:
num1!=num2

In [24]:
num1>=num2

NameError: name 'num1' is not defined

In [ ]:
num1<=num2

In [ ]:
print(10>5 and 7>5)

In [25]:
print(10>5 or 7>5)

True

In [26]:
salary=int(input("enter your salary: "))
monthly_expenses=int(input("enter your monthly expenses:"))
savings=salary-monthly_expenses
print(f"your savings is {savings}")

KeyboardInterrupt: Interrupted by user

In [ ]:
print(not(10>5 and 7>2))

In [ ]:
current_salary=75000
new_salary=current_salary+((current_salary/100)*12)
print(f"new salary is {new_salary}")

In [ ]:
num1=int(input("enter first number: "))
num2=25000
print(num1>=num2)
print(num1%10)
print(num1/10)

In [ ]:
groceries=["milk","banana","apple","chikku"]
print(groceries)

In [ ]:
type(groceries)

In [ ]:
groceries[2]

In [ ]:
groceries[-1]

In [ ]:
len(groceries)

In [ ]:
new_list=["orange,sweet potato,beef"]
final_list=groceries+new_list
print(final_list)

In [ ]:
new_list=["chips","biscuits"]
final_list=groceries+new_list
print(final_list)

In [ ]:
final_list.append("curd")
print(final_list)

In [ ]:
final_list.insert(2,"ice cream")
print(final_list)

In [ ]:
final_list.reverse()
print(final_list)

In [ ]:
final_list.sort() #reverse=true/false
print(final_list)

In [ ]:
final_list.pop()
print(final_list)

In [ ]:
final_list.pop(2)
print(final_list)

In [ ]:
final_list.remove("banana")
print(final_list)

In [ ]:
final_list.clear()
print(final_list)

In [ ]:
playlist=["vathilil","oh penne","judaai"]
english_songs=["softcore","sweater weather","leave before you love me"]
playlist.extend(english_songs)
print(playlist)

In [ ]:
playlist.pop()
print(playlist)

In [ ]:
playlist.reverse()
print(playlist)

In [ ]:
playlist.insert(2,"somewhere only we know")
print(playlist)

In [ ]:
nums=[10,30,89,66,77,90,107]
min(nums)

In [ ]:
sum(nums)

In [ ]:
avg=sum(nums)/len(nums)
avg

In [ ]:
max(nums)

In [ ]:
nums.index(max(nums))

In [ ]:
fruits=("apple","banana","orange")
type(fruits)

In [ ]:
veggies=("carrot","potato","tomato")
fruits += veggies
fruits

In [ ]:
fruit_list=list(fruits)
fruit_list

In [ ]:
fruits={"apple","banana","orange"}
type(fruits)

In [ ]:
fruits

In [ ]:
fruits.pop()

In [ ]:
fruits.discard("apple")#.discard

In [ ]:
fruits

In [ ]:
car ={
    "brand":"Ford",
    "model":"Mustang",
    "year":2025,
    "cur_year":2025
}
car

In [ ]:
car["brand"]

In [ ]:
car2=dict(brand="maruthi",model="swift",year=2020)
car2

In [ ]:
car2['model']

In [ ]:
car2.get("brand")

In [ ]:
len(car2)

In [ ]:
car2.values()

In [ ]:
car2.keys()

In [ ]:
car2['model']='alto'
car2

In [ ]:
car2['color']="red"
car2

In [ ]:
car2.update({"cylinder":6,"engine":"petrol", "color":"blue"})
car2

In [ ]:
car2.items()

In [ ]:
car2.popitem()
car2.pop("cylinder")
del car2["engine"]
car2

In [ ]:
care2

In [ ]:
car2

In [ ]:
emp1={
      "name":"jack",
      "salary":60000,
      "dept":"HR"
}
emp2={
      "name":"ben",
      "salary":50000,
      "dept":"finance"
}
emp3={
      "name":"sawyer",
      "salary":70000,
      "dept":"IT"
}
employees={"employee":emp1,
           "employee2":emp2,
            "employee3":emp3}
employees

In [ ]:
employees["employee2"]

In [ ]:
employees["employee3"]

In [ ]:
friend1={
    "name":"rahman",
    "phno":987677555
}
friend2={
    "name":"aadil",
    "phno":987612355
}
friend3={
    "name":"kinnam",
    "phno":9876543212
}
friend4={
    "name":"aseem",
    "phno":8790653421
    }
friend5={
    "name":"akber",
    "phno": 9878657612
}
friend2

In [ ]:
contact={"rah":9876543212,
         "aad":9087654312,
         "kin":9087654532,
         "ase":963366541,
         "akb":768954321}
contact

In [ ]:
movies=["be with you","dhurandhar","animal","chatha pacha"]
ratings=[9.5,9.0,9.2,8.5]
movie_ratings=dict(zip(movies,ratings))
movie_ratings

In [ ]:
a=30
b=30
if a>b:
    print("a is greater than b")
elif a==b:
        print("a is equal to b")
elif b==2*a:
     print("b is double of a")
else:
    print("b is greater than a")

In [ ]:
student_mark=int(input("enter your marks: "))
if(student_mark>90):
    print("grade a")
elif student_mark>80:
   print("grade b")
elif student_mark>70:
   print("grade c")
elif student_mark>60:
    print("grade d")
else:
  print('fail')

In [ ]:
weather=input("enter the weather: ")
if (weather=="sunny"):
    print("sunny day")
elif weather=="rainy":
    print("rainy day")
elif weather=="cloudy":
     print("cloudy day")
else:
  print("unknown")

In [ ]:
age=20
education="high school"
if (age>18):
    if (education=="high school"):
        print("you are eligible for college")
    else:
      print("go and study higher secondary")
else:
        print("you are not eligible")

In [ ]:
print("greater") if age > 5 else print("smaller")

In [ ]:
marks=45
result="pass" if marks>30 else fail;
if result=="pass":
    print("pass")
else:
    print("fail")

In [ ]:
temp=30
weather={"status":"hot" if temp<30 else "cold"}
print(weather)

In [ ]:
price=[2000,3000,4000,1500,1000]
total=sum(price)
print(total)

discount_percentage = 0 # Initialize discount percentage

if total > 2000:
  discount_percentage = 20 # 20% discount
elif total > 1000:
  discount_percentage = 10 # 10% discount
else:
  discount_percentage = 20 # As per original's 'disocunt:0.2' which likely meant a 20% discount

final_bill = total - (total / 100) * discount_percentage
print(final_bill)

In [ ]:
fruits=["apple","orange","banana"]
for fr in fruits:
  print(fr)

In [ ]:
for i in range(10):
  print(f" square of{i} is {i**2}")

In [ ]:
grocery_list = ["apples","bananas","milk","bread","eggs"]
for gr in grocery_list:
  if gr=="milk":
    print("milk is present")
    break
else:
  print("milk is not present")

In [ ]:
savings=[2000,2500,0,3000,1000,5000]
total=0
for sav in savings:
  if sav==0:
    continue
  print(sav)
  if sav>4000:
    print(f"your savings is more than 4000 and your savings is ",sav)
  total += sav
print(total)
savings=tuple(savings)
print(savings)
savings=set(savings)
print(savings)

In [ ]:
numbers=['9876543210','12453','9988776655','9876501234']
count=0
valid_count=0
invalid_count=0
valid_nums=set()
for nm in numbers:
  if len(nm)!=10:
   invalid_count+=1
   continue
  else:
   print(nm,'valid number')
   valid_count+=1
  valid_nums.add(nm)

print(f'count of invalid is',invalid_count)
print(f'count of valid is',valid_count)
print(valid_nums)

In [ ]:
i=1
while i<10:
 print(i**1)
 i +=1

In [ ]:
savings_goal = 10000
current_sav = 0
monthly_dep = 1500
months=0
while current_sav < savings_goal:
  months += 1
  current_sav += monthly_dep
else:
  print("you reached your goal")
print( f"it will take{months} months to reach your goal of {savings_goal}")

In [ ]:
student_grades = {"anu":85,"bob":63,"john":45,"sam":55,"ryan":52}
for i in student_grades.keys():
  print(i)

In [ ]:
for i,j in student_grades.items():
#print(i,":",j)
 if j<50:
  print(f'{i} scored A grade')
 else:
  print(f'{i} scored B grade')

In [ ]:
emp1={
      "name":"jack",
      "salary":60000,
      "dept":"HR"
}
emp2={
      "name":"ben",
      "salary":50000,
      "dept":"finance"
}
emp3={
      "name":"sawyer",
      "salary":70000,
      "dept":"IT"
}
employees={"employee":emp1,
           "employee2":emp2,
            "employee3":emp3}
employees

In [ ]:
for empcode,empdetail in employees.items():
  for k,val in empdetail.items():
    if k=="name" and val=="sawyer":
      print("sawyer found")

In [ ]:
for i in range(1,16):
 if(i%2==0):
  print(f'the number {i} is even')
 else :
  print(f"the number {i} is odd")

In [ ]:
for i in range(1,6):
  print('*'*i)

In [ ]:
for i in range(100,801):
  if(i%3==0 and i%7==0):
    print(i)

In [ ]:
a=1
b=2
c=3
if(a>b and a>c):
  print("a is greater")
elif b>a  and b>c:
  print("b is greater")
else:
  print("c is greater")

In [ ]:
count=0
for i in range(1,1001):
  if(i&8==0):
    count=count+1
print(count)

In [ ]:
def multply(numb):
  print(numb*2)
multply(7)

In [ ]:
def send_gift(recipient,gift):
  print(f"sending{gift} to {recipient}!")
send_gift("rahman"," a phone")

In [ ]:
def send_gift(recipient,gift):
  print(f"sending{gift} to {recipient}!")
send_gift(gift=" a camera",recipient="rahman")

In [ ]:
abs(-5)

In [ ]:
#DEFAULT
def book_trip(destination,transport="bus"):
  print(f"your {transport} is booked and going to {destination}")
book_trip("agra","train")

In [ ]:
book_trip(destination='paris',transport='flight')

In [ ]:
book_trip('TVM')

In [ ]:
#position
def book_trip(destination,transport):
  print(f"your {transport} is booked and going to {destination}")
book_trip("agra","train")

In [ ]:
#keyword
def book_trip(destination,transport):
  print(f"your {transport} is booked and going to {destination}")
book_trip(destination="agra",transport="train")

In [ ]:
def book_trip(destination,*things):
  print(f"we are going to{destination},bring {things}")
book_trip("TVM","CLOTHES","TRAIN")

In [ ]:
def add_numbers(a,b):
  print (a+b)
result=add_numbers(5,5)

In [ ]:
def add_numbers(a,b):
  return a+b
result= add_numbers(5,5)

In [ ]:
def add_ten(number):
  print(number+10)
my_result=add_ten(5)
final_answer = my_result * 2
print(f"the final answer is:{final_answer}")

In [ ]:
def add_ten(number):
    return number + 10

my_result = add_ten(5)
final_answer = my_result * 2
print(f"the final answer is:{final_answer}")

In [ ]:
def square(x):
  sq = x*x
  return sq
square(5)

In [ ]:
addition = lambda x,y:x+y
addition(10,20)

In [ ]:
is_pass = lambda marks:"pass" if marks>48 else "fail"
is_pass(45)

In [ ]:
def square(x):
  sq = x*x
  return sq
numbers=[1,2,3,4,5]
squares=map(square,numbers)
list(squares)

In [ ]:
squares=map(lambda x:x*x,numbers)
list(squares)

In [28]:
list_a=[1,2,3]
list_b=[4,5,6]
sum_lists = map(lambda x,y:x+y,list_a,list_b)
list(sum_lists)

[5, 7, 9]

In [29]:
list_c=[7,8,9,-2,-5,-1]
positive_numbers=filter(lambda x:x>0,list_c)
list(positive_numbers)

[7, 8, 9]